# Node.js y Astro
node_modules/
dist/
.cache/
.build/

# Lockfiles (si usas pnpm o npm)
pnpm-lock.yaml
package-lock.json

# Archivos de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/
*.log
